@* Pages/Shared/_Sidebar.cshtml *@
<div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">Admin Dashboard</div>
    <div class="list-group list-group-flush">
        <a href="#" class="list-group-item list-group-item-action bg-light">Student</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Course</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Teacher</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Subject</a>
    </div>
</div>
